<html>
        <title>
            Current Job Vacancies Data
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <body class="bg-light text-white">
            <div class="container-fluid" style="background-color: black;">
                <h1 class="text-center" style="color: white;">
                    {{title}}
                </h1>
            </div>
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid text-center" style="background-color: black;">
                        <a class="navbar-brand" href="http://127.0.0.1:5000/home_page">Home</a>
                        <a class="navbar-brand" href="http://127.0.0.1:5000/current_job_vacancies_data">Current Job Vacancies Data</a>
                        <a class="navbar-brand" href="http://127.0.0.1:5000/current_vs_past_job_vacancies">Current vs Past Job Vacancies Data</a>
                        <a class="navbar-brand" href="http://127.0.0.1:5000/data_analyst_skills_data">Skills Data</a>
                        <a class="navbar-brand" href="http://127.0.0.1:5000/data_analyst_experience_data">Experience Data</a>
                        </div>
                    </nav>
                </div>
                    </div>
                    <div class="container">
                        <h1 class="text-center">Top 10 Companies with the most current job listings</h1>
                        <table class="table table-dark table-striped" style="background-color: rgba(117, 160, 246, 0.24);">
                            <tr>
                                {% for header in headers %}
                                <th>{{header}}</th>
                                {% endfor %}
                            </tr>
                            {% for companys in companys_top_10 %}
                            <tr>
                                {% for company in companys %}
                                    <td>{{ company }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div> 
                    <div class="container">
                        <h1 class="text-center">Amount of Jobs Posted Per TimeStamp</h1>
                        <table class="table table-dark table-striped" style="background-color: rgba(117, 160, 246, 0.24);">
                            <tr>
                                {% for headers in headers2 %}
                                <th>{{headers}}</th>
                                {% endfor %}
                            </tr>
                            {% for date in jobs_per_date %}
                            <tr>
                                {% for dat in date %}
                                    <td>{{ dat }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>

                    <section style="background-color: aliceblue;">
                        <div class="container-fluid">
                            <h1 class="text-center" style="background-color: rgb(254, 254, 254)">Minimum Salary Data</h1>
                            {{plot|safe}}
                
                        </div>
                    </section>
                    <section style="background-color: aliceblue;">
                        <div class="container-fluid">
                            <h1 class="text-center" style="background-color: rgb(254, 254, 254)">Maximum Salary Data</h1>
                            {{plot2|safe}}
                        </div>
                    </section>
                    <section style="background-color: aliceblue;">
                        <div class="container-fluid">
                            <h1 class="text-center" style="background-color: rgb(254, 254, 254)">Median Salary Data</h1>
                            {{plot3|safe}}
                        </div>
                    </section>

        </body>
</html>